<p class="text-center">Uso de pipes</p>
<article class="hola">
      <article class="input-group flex-nowrap ">
        <section class="flex-nowrap">
          <section class="row">
            <label for="" class="col">Valor</label>
            <input type="text" class="form-control col" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="valor">
          </section>
          <section>
                      <!-- valor de -->
          <p class="col"> Resultado: {{valor | uppercase}}</p>
          </section>
        </section>
      </article>
</article>
